name: C/C++ CI

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
    - name: make
      run: |
       mkdir ./autobuild
       mv sni-filter.cpp sni-filter.bak
       CGO_ENABLED=0; GOARCH=amd64; go build && mv sni-filter sni-filter-amd64
       CGO_ENABLED=0; GOARCH=arm64; go build && mv sni-filter sni-filter-arm64
       mv ./sni-filter-amd64 ./autobuild/sni-filter-amd64
       mv ./sni-filter-arm64 ./autobuild/sni-filter-arm64
    - name: uploadPKG 
      uses: actions/upload-artifact@v4
      with:
        name: autobuild
        path: ./autobuild
